.list-group-item span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-group-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all, 0.2s;
}

.list-group-item:hover {
  transform: translateY(-10%);
  background-color: #e7f1ff;
}

.list-group-item.active:hover {
  background-color: #0d6efd;
}

.oval-photo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}
